@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==================== Global Rules ==================== */
:root  {
  /* --hover-color: #ff2d2d; */
  /* --accent-color: #013171; */
  --main-color: #c6783e;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Nunito Sans", sans-serif;
  /* font-family: "Inter", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Playfair Display", serif; */
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.custom-hover-effect {
  transition: transform 0.4s ease-in-out;
}

.custom-hover-effect:hover {
  transform: scale(0.95);
  color: var(--main-color);
}

.active-menu::after {
  content: "";
  height: 100%;
  width: 3px;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: -18px;
  border-radius: 20%;
}

.active-menu {
  color: var(--main-color);
  position: relative;
}
.active-submenu {
  color: var(--main-color);
  position: relative;
  /* background-color: #fbfbfc; */
}

/* Spinner Loader  */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #eee;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
